body {
  font: 14px "Century Gothic", Futura, sans-serif;

  background-color: rgb(23, 32, 48);
  color: rgb(1, 154, 255);
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.game-info {
  display: grid;
  grid-template-columns: 375px;
  justify-items: center;
  margin-top: 25px;
}

.game-board {
  display: grid;
  margin-top: 25px;
}

.game-info ol {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 5px;
}

.player-info {
  display: grid;
  grid-template-columns: 125px 75px;
  justify-items: center;
  grid-column-gap: 25px;
}

.square--winning {
  background-color: rgb(170, 255, 1);
}

@media (max-width: 130px) {
  .game-board {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 130px;
  }
}

@media (max-width: 350px) {
  .game-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 350px) {
  .game-info ol {
    grid-template-columns: auto;
  }
}
